header{
  padding: 0 2em 0;
  margin-bottom: 0;
}

.card-free{
  background-color: #A7A9AC;
}

/*.bi-check-lg::before{
  color: darkgreen !important;
  font-size: 1.5rem;
}*/

/*
.border-free {
  border-color: #A7A9AC!important;
}

.border-empresarial {
  border-color: #011931!important;
}*/

.card-empresarial{
  background-color: #011931;
}

.card-body-free{
  background-color: #a7a9ac21;
}

.card-body-avanzado{
  background-color: #d3e0ef;
}

.card{
  border: none;
}

.card-header-basic{
  background-color: #658CFF;
}

.card-header-avanzado{
  background-color: #0d6efd;
}

.card-header-pro{
  background-color: #0040BC;
}

#recomendation{
  padding: 0;
  background-color: darkgreen;
}